<div class="fly-home fly-panel" style="background-image: url();">
  <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" alt="阿坤">
  <i class="iconfont icon-renzheng" title="Fly社区认证"></i>
  <h1>
    阿坤
    <i class="iconfont icon-nan"></i>
    <!-- <i class="iconfont icon-nv"></i>  -->
    <i class="layui-badge fly-badge-vip">鉴定师</i>
    <!--
    <span style="color:#c00;">（管理员）</span>
    <span style="color:#5FB878;">（社区之光）</span>
    <span>（该号已被封）</span>
    -->
  </h1>


  <p class="fly-home-info">
    <i class="iconfont icon-kiss" title="代币"></i><span style="color: #FF7200;">66666 代币</span>
    <i class="iconfont icon-shijian"></i><span>声誉：<span style="color: #FF7200;">234453</span></span>
  </p>

  <p class="fly-home-sign">NEM地址：TCOIH2C7DKNDFP66USIYP2EJKLD2HE3IPT42W436</p>

  <p class="fly-home-sign">油量：<span style="width: 313px;height: 2px;display: inline-block;background: blue;"></span>   100%</p>

</div>
<div class="layui-container">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md6 fly-home-jie">
      <div class="fly-panel">
        <h3 class="fly-panel-title">阿坤 最近的收益记录</h3>
        <ul class="jie-row">
          <li>
            <span class="fly-jing">今天</span>
            <a href="../../html/jie/detail.html" class="jie-title"> 鉴定 王小波 的问题</a>
            <i>刚刚</i>
            <em class="layui-hide-xs">收益：20</em>
          </li>
          <li>
              <a href="../../html/jie/detail.html" class="jie-title"> 鉴定 李强 的问题</a>
              <i>1天前</i>
              <em class="layui-hide-xs">收益：30</em>
          </li>
          <li>
              <a href="../../html/jie/detail.html" class="jie-title"> 鉴定 孙兴民 的问题</a>
              <i>1天前</i>
              <em class="layui-hide-xs">收益：20</em>
          </li>
          <li>
              <a href="../../html/jie/detail.html" class="jie-title"> 鉴定 罗纳尔多 的问题</a>
              <i>3天前</i>
              <em class="layui-hide-xs">收益：20</em>
          </li>
          <li>
              <a href="../../html/jie/detail.html" class="jie-title"> 鉴定 大明 的问题</a>
              <i>7天前</i>
              <em class="layui-hide-xs">收益：20</em>
          </li>
          <!-- <div class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;"><i style="font-size:14px;">没有发表任何求解</i></div> -->
        </ul>
      </div>
    </div>
    
    <div class="layui-col-md6 fly-home-da">
      <div class="fly-panel">
        <h3 class="fly-panel-title">阿坤 最近的回答</h3>
        <ul class="home-jieda">
          <li>
          <p>
          <span>1分钟前</span>
          在<a href="../../html/jie/detail.html">区块链黑客马拉松大赛开始了</a>中回答：
          </p>
          <div class="home-dacontent">
          是的，我在现场
          </div>
        </li>
        <li>
          <p>
          <span>5分钟前</span>
          在<a href="../../html/jie/detail.html">腾讯破产了</a>中回答：
          </p>
          <div class="home-dacontent">
            脑子呢？
          </div>
        </li>
        
          <!-- <div class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;"><span>没有回答任何问题</span></div> -->
        </ul>
      </div>
    </div>
  </div>
</div>