<!DOCTYPE html>
<html>
  <head>
    <title>Jianwen</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="fly-header layui-bg-black">
		  <div class="layui-container">
		    <a class="fly-logo" href="./index.html" style="color: #ffffff;font-size: 36px;border-bottom: 1px solid;top: 2px;">
		      鉴闻
		    </a>
		    <ul class="layui-nav fly-nav-user">
		      
		      
		      <li class="layui-nav-item">
		          <a class="fly-nav-avatar" href="./user/home.html">
		            <cite class="layui-hide-xs">阿坤</cite>
		            <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg">
		          </a>
		          <dl class="layui-nav-child">
		            <dd><a href="../user/set.html"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
		            <dd><a href="../user/message.html"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a></dd>
		            <dd><a href="../user/home.html"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a></dd>
		            <hr style="margin: 5px 0;">
		            <dd><a href="" style="text-align: center;">退出</a></dd>
		          </dl>
		        </li>
		      
		    </ul>
		  </div>
		</div>

		
    <%= yield %>
    <div class="fly-footer">
			鉴闻
    </div>
  </body>
</html>
